<section class="jumbotron text-center mb-0" >
  <div class="container" *ngIf="selected$ | async as selected else noGameSelected">
    <h2>{{selected.title}}</h2>
    <p>{{selected.year}}</p>
    <button type="button" class="btn btn-primary" (click)="onPlayedClicked(selected)" data-selector="play-button">Play</button>
  </div>
  <ng-template #noGameSelected>
    <div class="container">
      <h2>Select the game to play</h2>
    </div>
  </ng-template>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let game of myGames$ | async">
        <app-card [game]="game">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary" (click)="onSelectClicked(game)">Select</button>
          </div>
        </app-card>
      </div>
    </div>
  </div>
</section>
